.calc-container{
    background-color: #efe8de;   
}

.calc-container h1{
    text-align: center;
    color: #b97800;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 20px;
}

.calculator-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
    width: 350px;
    background-color: #000;    
}

.calculator-display {
    position: relative;
    margin-bottom: 20px;
    font-size: 24px;
    padding: 10px;
    padding-bottom: 25px;
    width: 328px;
    height: 150px;
    margin: 0 auto;
    color: white;
    background-color: #585657;
    text-align: right;
}

.history-container {
    position: absolute;
    top: 10px; 
    left: 10px;
    max-height: 100px;
    z-index: 95;
    display: inline-block;
}

.history-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #b3b3b3;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.history-btn:hover {
    background-color: #d9d9d9;
}

.history-modal {
    width: 150px;
    max-height: 120px;
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    visibility: visible; 
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.history-header {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #888;
}

.close-btn:hover {
    color: #555;
}

.history-entry-container {
    max-height: 100px;
    overflow-y: auto; 
    overflow-x: auto;
    margin-top: 10px;
}

.history-entry {    
    text-align: left;
    color: #cacaca;
    font-size: 18px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}

.display-text{
    margin-top: 85px;
    margin-right: 20px;
    font-size: 50px;
    max-width: 310px;
    overflow-x: auto;    
}

.btn-container{
    padding-top: 25px;
}

.button-row {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.calculator-button, .long-calculator-button {
    padding: 15px;
    font-size: 20px;
    margin: 5px;
    width: 60px;
    height: 60px;
    background-color: #b3b3b3;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.2s, transform 0.2s;
    z-index: 10;
}

.long-calculator-button {
    width: 140px;
    height: 55px;
}

.calculator-button:hover {
    background-color: #d9d9d9;
}

.calculator-button:active {
    transform: scale(0.95);
}

.calculator-button:focus {
    outline: none;
}

.button-row .calculator-button:last-child, .long-calculator-button:last-child{
    background-color: orange; 
    color: white; 
    border: 1px solid orange; 
}

.button-row .calculator-button:last-child:hover, .long-calculator-button:last-child:hover {
    background-color: #c78100; 
}

.button-row .calculator-button:last-child:active, .long-calculator-button:last-child:active {
    transform: scale(0.95);
    background-color: #c78100; 
}

.brown-calculator-button {
    padding: 15px;
    font-size: 20px;
    margin: 5px;
    width: 60px;
    height: 60px;
    background-color: #816347;
    color: white;
    border: 1px solid #a28365;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    z-index: 10;
}

.brown-calculator-button:hover {
    background-color: #a28365;
}

.brown-calculator-button:active {
    transform: scale(0.95);
    background-color: #a28365;
}